<div *ngIf="folderData$ | async as _folder" class="items">
  <h1>{{ _folder.Name }}</h1>
  <h3>Total {{ total }} {{ _folder.CollectionType | titlecase }}</h3>
  <!-- Movies Table -->
  <app-movie-table
    [dataSource]="dataSource"
    *ngIf="(folderItem$ | async) && _folder.CollectionType === 'movies'"
  ></app-movie-table>

  <!-- Series Table -->
  <app-series-table
    [dataSource]="dataSource"
    *ngIf="(folderItem$ | async) && _folder.CollectionType === 'tvshows'"
  ></app-series-table>
</div>
