.items{
  padding: 20px;
  h1,h3{
    text-align: center;
  }
  table {
    width: 1500px !important;
    margin: auto;
    th {
      div {
        justify-content: center !important;
      }
    }
    td {
      text-align: start;
    }
  }

}
