<mat-card class="server-select-card">
  <mat-card-header>
    <mat-card-title>
      <img
        src="http://192.168.31.103:8097/web/assets/img/banner-dark.png"
        alt=""
        srcset=""
        width="150px"
      />
    </mat-card-title>
    <!-- <mat-card-subtitle>Please sign in</mat-card-subtitle> -->
  </mat-card-header>
  <div>
    <mat-card-content>
      <form [formGroup]="server">
        <mat-form-field appearance="outline">
          <mat-label>Server URL</mat-label>
          <input matInput type="text" formControlName="serverUrl" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Port</mat-label>
          <input matInput type="text" formControlName="port" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Server API</mat-label>
          <input matInput type="text" formControlName="authApi" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="url">
        Sign In
      </button>
      <button mat-raised-button color="accent">Cancel</button>
    </mat-card-actions>
  </div>
</mat-card>
